<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 네임스페이스는 MemberMapper.xml과 맵핑되는 인터페이스명을 package를 포함해서 명시함 불일치시 오류 발생 -->    
<mapper namespace="kr.spring.finalp.dao.AcademyMapper">
   <!-- xml 파일로 하는 mybatis 방법 -->
   <!-- id는 해당 메서드 명을 써줘야 함 -->   
  
   <select id="myLikedAcademy" parameterType="map" resultType="academyCommand">
      SELECT f.a_num a_num, f.m_num m_num, a_name, a_location, a_phone, a_content, a_good, a_regdate, cp_num, a_logo, uploadfile, rnum, l.a_num curNum, l.m_num c_m_num
      FROM (SELECT a.*, rownum rnum
           FROM (SELECT *
                 FROM academy
                 <where>
                   <if test="keyword != '' and keyfield =='a_name'">
                   a_name like '%' ||#{keyword}|| '%'
                   </if>
                 </where>
                 ORDER BY a_regdate DESC) a) f left outer join (select a_num, listagg(m_num) within group (order by a_num) m_num from   
				 (select b.a_num,s.m_num from liked b left outer join (select * from liked where m_num = #{m_num})s 
				 on b.a_num=s.a_num
				 where s.m_num is null or b.a_num!=s.a_num or b.m_num=s.m_num)
				 group by a_num) l on(f.a_num = l.a_num)
      <![CDATA[
      WHERE  rnum>=#{start} AND rnum <=#{end}
      ORDER BY f.a_num asc, curNum asc, c_m_num desc
      ]]>
         
   </select>
    
   <select id="getRowCount" parameterType="map" resultType="integer">
      SELECT
         count(*)
      FROM academy
      <where>
          <if test="keyword != '' and keyfield=='a_name'">
          a_name like '%' ||#{keyword}|| '%'
          </if>
       </where>
   </select>
   
</mapper>