<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스는 MemberMapper.xml과 맵핑되는 인터페이스명을 package를 포함해서 명시함 불일치시 오류 발생 -->
<mapper namespace="kr.spring.finalp.dao.StudyMapper">
	<!-- xml 파일로 하는 mybatis 방법 -->
	<!-- id는 해당 메서드 명을 써줘야 함 -->
	<select id="list" parameterType="map" resultType="studyCommand">
		SELECT
		*
		FROM (SELECT
		a.*,
		rownum rnum
		FROM(SELECT
		b.sb_num,
        <![CDATA[
		             REPLACE(REPLACE(b.sb_title,'<','&lt;'),'>','&gt;') sb_title,
		             ]]>
		b.sb_content,
		b.sb_hit,
		b.sb_count,
		b.sb_date,
		b.m_num,
        r.reply_cnt,
        m.m_id
		
		FROM STUDY_BOARD b JOIN MEMBER m 
        ON b.m_num= m.m_num
        LEFT JOIN (SELECT sb_num, COUNT(*) reply_cnt
		FROM STUDY_COMMENT
		GROUP BY sb_num)r
		ON b.sb_num = r.sb_num
		<where>
			<if test="keyword != '' and keyfield=='sb_title'">
				sb_title like '%' ||#{keyword}|| '%'
			</if>
			<if test="keyword != '' and keyfield=='m_id'">
				m_id = #{keyword}
			</if>
			<if test="keyword != '' and keyfield=='sb_content'">
				sb_content like '%' ||#{keyword}|| '%'
			</if>
		</where>
		ORDER BY b.sb_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>

	</select>
	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT 
		  COUNT(*) 
		FROM (SELECT * 
		      FROM STUDY_BOARD i inner join MEMBER m using(m_num))
		<where>
			<if test="keyword != '' and keyfield=='sb_title'">
				sb_title like '%' ||#{keyword}|| '%'
			</if>
			<if test="keyword != '' and keyfield=='m_id'">
				m_id = #{keyword}
			</if>
			<if test="keyword != '' and keyfield=='sb_content'">
				sb_content like '%' ||#{keyword}|| '%'
			</if>
		</where>
	</select>
	<!-- id= 메서드 명 -->
	<select id="listReply" parameterType="map" resultType="studyReplyCommand">
		SELECT
			sc_num,
			sb_num,
			sc_content,
			sc_regdate,
			m_num,
			m_id
			
		FROM (SELECT 
				a.*,
				rownum rnum
			  FROM(SELECT
						*
					FROM STUDY_COMMENT
					WHERE sb_num = #{sb_num}
					ORDER BY sc_num DESC) a)
					INNER JOIN member USING(m_num) WHERE sb_num=#{sb_num}
				
	</select>
</mapper>
