<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 네임스페이스는 MemberMapper.xml과 맵핑되는 인터페이스명을 package를 포함해서 명시함 불일치시 오류 발생 -->    
<mapper namespace="kr.spring.finalp.dao.ClassMapper">
   <!-- xml 파일로 하는 mybatis 방법 -->
   <!-- id는 해당 메서드 명을 써줘야 함 -->
   <select id="listClass" parameterType="map" resultType="classCommand">
      
      SELECT * 
      FROM (SELECT a.*, rownum rnum
           FROM (SELECT *
                 FROM class                   
                <where>
                   <if test="keyword != '' and keyfield =='c_name'">
                   c_name like '%' ||#{keyword}|| '%'
                   </if>
               </where>
             
      <![CDATA[
               WHERE a_num = (SELECT a_num FROM academy JOIN member USING(m_num) WHERE m_id=#{m_id})) a)
               left join teacher t using(t_num)
      WHERE rnum>=#{start} AND rnum <=#{end}
      ]]>
   
   </select>
   
   
   <select id="getRowCount" parameterType="map" resultType="integer">
      SELECT
         count(*)
      FROM class
      <where>
                   <if test="keyword != '' and keyfield =='t_name'">
                   t_name like '%' ||#{keyword}|| '%'
                   </if>
               </where>
      <![CDATA[
      WHERE a_num = (SELECT a_num FROM academy JOIN member USING(m_num) WHERE m_id=#{m_id})
      ]]>
   </select>
   
   <select id="getListRowCount" parameterType="map" resultType="integer">
      SELECT
         count(*)
      FROM class
      <where>
                   <if test="keyword != '' and keyfield =='t_name'">
                   t_name like '%' ||#{keyword}|| '%'
                   </if>
               </where>
   </select>
   
</mapper> 
